.form{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.basic-input{
    height: 5vh;
    width: 100%;
    border-radius: 10px;
    border: 0px;
    background-color: black;
    caret-shape: block;
    caret-color: white;
    font-size: 20px;
    color: white;
}





.submit{
    width: 50%;
    border-radius: 10px;
    background: white;
    border-color: white;
    border-style: solid;
    margin: auto;
}




.reportingTool{
    display: grid;


    column-gap: 10px;
    row-gap: 10px;
    grid-column-start: auto;
    
}


.heading {
    align-items:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.expenseContainer{
    background-color: gray;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.budgetReportContainer{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.reportContainer{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-start: 5;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.footer{
    align-items:center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}


table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    color: black;
}

tr, td {
    padding: 10px;
    text-align: left;
    
}
tr:nth-child(even) {background-color: gray;}
tr:nth-child(odd) {background-color: lightgray;}

tr:hover {background-color: pink}


.App-logo {
    height: 10vmin;
    pointer-events: none;
    
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  